:root {
    --header-bg-color: #19180A;
    --header-main-text-color: #F5B700;
    --header-secondary-text-color: #FDFFFC;
    --button-color: #8D6346;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: var(--header-bg-color);
    align-items: center;
    border-bottom: solid 2px var(--header-main-text-color);
}

.logo{
    font-size: 24px;
    font-weight: 900;
    color: var(--header-main-text-color);
}

ul {
    display: flex;
    list-style: none;
    gap: 8px;
}

a {
    text-decoration: none;
    padding: 8px;
    color: var(--header-main-text-color);
}

ul a{
    font-size: 18px;
    color: var(--header-secondary-text-color);
}

.body {
    flex: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: var(--header-bg-color);
    color: var(--header-secondary-text-color);
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
    background-color: var(--header-bg-color);
    color:var(--header-secondary-text-color);
    font-size: 18px;
}

.hero .left,
.hero .right{
    flex: 0 0 400px;
}

.image {
    width: 600px;
    height: 300px;
    background-color: lightgrey;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: var(--header-main-text-color);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

button{
    background-color: var(--button-color);
    padding: 8px 16px;
    color:var(--header-main-text-color);
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    border-radius: 12px;
    border: none;
}

.information {
    padding: 36px;
    color: var(--header-bg-color);
    background-color: var(--header-main-text-color);
}

.information h2{
    text-align: center;
    margin: 36px 0;
    font-size: 36px;
    font-weight: bold;
}

.information .image{
    width: 150px;
    height: 150px;
    border: solid 4px var(--button-color);
    border-radius: 12px;
    margin-bottom: 12px;
}

.items {
    display:flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 180px;
}

.quote-box{
    background-color: var(--header-secondary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: var(--header-bg-color);
}

.quote{
    max-width: 800px;
    flex: 1 1 300px;
}

.quote-box em{
    font-size: 36px;
    font-weight: 300;
}

.quote-box p {
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    background-color: var(--header-main-text-color);
}

.action-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;
    flex: 1 1 300px;
    background-color: var(--button-color);
    padding: 48px;
    border-radius: 12px;
    color:var(--header-main-text-color);
    gap: 8px;
}

.action button {
    border: solid 3px var(--header-main-text-color);
}
